<div id="report-container">
    <div id="report-container-header">
        <p class="title"><b>REPORTES</b></p>

        <mat-form-field appearance="fill" [formGroup]="range">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker" required>
              <input matStartDate placeholder="Start date" formControlName="start" [(ngModel)]="myStart"#dateRangeStart>
              <input matEndDate placeholder="End date" formControlName="end" [(ngModel)]="myEnd"#dateRangeEnd
              (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </div>
    <nav class="navbar navbar-light">
        <a class="navbar-option" href="#"><b>Ventas</b></a>
        <a class="navbar-option" href="#"><b>Stock</b></a>
    </nav>
    <div>
        <p>Aqui van los reportes 👇 </p>
        <!--
            con router renderiza componente de reporte seleccionado 
            el preseleccionado tiene queser ventas 
            siempre que se abra este modulo se debe mostrar
            ventas seleccionadom y sus reportes
        -->
        <app-reporte-venta [start]="range.value.start"></app-reporte-venta>
    </div>
</div>
