input{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-select{
    margin-left: 10px;
    margin-top: 10px;
    width: 300px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn,.title,.logo{
    align-self: center;
}

.title{
    background-color: gainsboro;
    width: 400px;
    text-align: center;
    border-radius: 10px;
}

.logo{
    width: 180px;
}


