<table class="table">
    <thead>
      <tr>
        <th scope="col">posicion</th>
        <th scope="col">producto</th>
        <th scope="col">Total de venta</th>
        <th scope="col">Cantidad vendida</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of dataSource, let i">
          <td>{{i}}</td>
            <td>{{a.posicion}}</td>
            <td>{{a.producto}}</td>
            <td>{{a.totalVenta}}</td>
            <td>{{a.cantVendido}}</td>
        </tr>
    </tbody>
  </table>