
<div class="container">
  <div class="row">
    <div class="col col-md-6">
      <div class="row">
        <app-clientes (change)="clientChange(cliente)"></app-clientes>
      </div>
        <div class="card border-dark mb-3" style="max-width: 45rem;">
          <div class="card-header bg-transparent border-dark">Productos</div>
            <div class="card-body text-dark">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Artículo</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Sub-total</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let prod of nuevaVenta.producto">
                    <td>{{prod.nombre | titlecase}}</td>
                    <td>{{prod.cantidad}}</td>
                    <td>{{prod.precio | currency}}</td>
                    <td>{{prod.cantidad! * prod.precio! | currency}}</td>
                    <td><button type="button" class="btn-close" aria-label="Close" (click)="EliminarProducto(prod)"></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          <div class="card-footer bg-transparent border-dark" ><label style="margin-left: 19.3vw;">Total: <B>{{total | currency}}</B></label></div>
      </div>
      <div class="row">
            <form [formGroup]="formaPagoGroup">
            <label for="formaPago">Forma de Pago</label>
            <select class="form-control" formControlName="formaPago">
              <option *ngFor="let f of formasPago" [ngValue]="f">{{f}}</option>
            </select>
          </form>
          </div>
      <div class="row">
        <button type="submit" class="btn btn-primary" (click)="guardar()" style="margin-top: 2vh;" [disabled]="!nuevaVenta.Cliente || nuevaVenta.producto!.length==0">Cobrar</button>
      </div>
      
    </div>
    <div class="col col-md-4">
        <div class="row">
          <h3>Seleccione los productos:</h3><br>
          <div class="card-group">
            <div class="card" *ngFor="let producto of arrayCard">
              <img [src] ="producto.imagen" class="card-img-top" alt="..." (click)="openModal(producto)">
              <div class="card-body">
                <h5 class="card-title">{{producto.nombre | titlecase}}</h5>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
 


<div class="modal fade" id="cantidades" tabindex="-1" role="dialog" aria-labelledby="titulo" arial-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titulo">{{selected.nombre | titlecase}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()">
        </button> 
      </div>
      <div class="modal-body">
          <label>Precio: <b>{{selected.precio}}</b></label> <br>
          <label>Cantidad máxima de gustos: <b>{{selected.cantidadMaxGustos}}</b></label><br>
          <label>Cantidad de gustos disponibles: <b>{{selected.cantidadMaxGustos!-gustosSelected.length}}</b></label>
          <hr>
          <div class="alert alert-succes">
            <label for="tipoGustos">Gustos</label>
            <ul class="list-group" *ngFor="let gusto of gustos">
              <li class="list-group-item d-flex justify-content-between align-items-center" (click)="cargarGustos(gusto, selected.cantidadMaxGustos!)" style="cursor: pointer;">
                {{gusto.nombre | titlecase }} 
              </li>
            </ul>
            <hr>
            <label for="tipoGustos">Gustos Seleccionados</label><br>
            <div *ngFor="let gusto of gustosSelected">
              <span class="badge bg-danger" style="cursor: pointer;" (click)="quitarGustos(gusto)">{{gusto.nombre | titlecase}} <button type="button" class="btn-close btn-close-white" aria-label="Close"></button></span>
            </div><br>
            <hr>
            <label for="cantidad">Cantidad</label>
            <input class="form-control" type="number" placeholder="" id="cantidad" maxlength="1" [(ngModel)]="selected.cantidad" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="registrarProducto(this.selected)" [disabled]="!gustosSelected.length">Agregar</button>
      </div>
    </div>
  </div>
</div>
