
    <div class="reporte-final-container">
        <h3 class="title">INFORME FINAL DEL DÍA</h3>
        <!-- <h6 class="title">RESUMEN DIARIO</h6> -->
        <div class="container-row">
            <select class="form-select" #select aria-label="seleccione el dia"  [(ngModel)]="selectValue" (change)="onChangeDay($event)">
                <option value="0" selected>HOY!</option>
                <option value="1">Ayer</option>
              </select>
            <!--<button type="submit" class="btn btn-light">Descargar Reporte</button>-->
        </div>
        
        <div>
            <h6 class="title mt-3">CANTIDAD DE INGRESOS POR TIPO</h6>
            <hr>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Tipo de ingreso</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Monto</th>
                  </tr>
                </thead>
                <tbody>
                 <tr *ngFor="let i of ingresos">
                    <td>{{i.title}}</td>
                    <td>{{i.cant}}</td>
                    <td>{{i.total | currency}}</td>
                  </tr>
                    <tr>
                    <td><h6>TOTAL</h6></td>
                    <td></td>
                    <td><b>{{total | currency}}</b></td>
                  </tr>
                </tbody>
              </table>
        </div>
        </div>

  <button (click)="closeDialog()" class="btn">Cerrar</button>





