<div class="container">
    <div class="card">
        <div class="card-body">
            <div id="invoice">
                <div class="toolbar hidden-print">
                    <div class="text-end">
                        <button type="button" class="btn btn-dark"><i class="fa fa-print"></i> Ver PDF</button>
                        <button type="button" class="btn btn-danger"><i class="fa fa-file-pdf-o"></i> Enviar por email</button>
                    </div>
                    <hr>
                </div>
                <div class="invoice overflow-auto">
                    <div style="min-width: 600px">
                        <header>
                            <div class="row">
                                <div class="col">
                                    <a href="javascript:;">
    												<img src="assets/img/logo.png" width="80" alt="">
												</a>
                                </div>
                                <div class="col company-details">
                                    <h2 class="name">
									Dulce Heladería S.R.L
                                    </h2>
                                    <div>Illia 1234, X5000, Córdoba</div>
                                    <div>(351) 123-456</div>
                                    <div>CUIL 23-6540650-3</div>
                                    <div>dulce@heladeria.com.ar</div>
                                </div>
                            </div>
                        </header>
                        <main>
                            <div class="row contacts">
                                <div class="col invoice-to">
                                    <div class="text-gray-light">Cliente:</div>
                                    <h2 class="to">Juan Perez</h2>
                                    <div class="address">Illia 2345, Córdoba</div>
                                    <div class="address">DNI - 23021065</div>
                                    <div class="email"><a href="mailto:john@example.com">juanP@ejemplo.com</a>
                                    </div>
                                </div>
                                <div class="col invoice-details">
                                    <h1 class="invoice-id">Factura #1</h1>
                                    <div class="date">Fecha: 01/11/2022</div>
                                </div>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="text-left">Descripcion</th>
                                        <th class="text-right">Precio Unitario</th>
                                        <th class="text-right">Cantidad</th>
                                        <th class="text-right">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="no">04</td>
                                        <td class="text-left">
                                            <h3>
										KILO 
                                            </h3>
                                            Frutilla, Chocolate, Limon</td>
                                        <td class="unit">$1,000.0</td>
                                        <td class="qty">2</td>
                                        <td class="total">$2,000.00</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td colspan="2">TOTAL</td>
                                        <td>$2,000.00</td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="thanks">Muchas Gracias por su compra!</div>
                        </main>
                        <footer>Factura Electrónica Válida para la República Argentina</footer>
                    </div>
                    <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>