<div class="report-data-container">
    <div class="report-data-container-header">
        <!-- <h1>numero</h1> -->
        <h5>{{date.start | date:'dd/MM/yy'}} - {{date.end | date:'dd/MM/yy'}}</h5>
            <button id="reporteModal"  (click)="ventaFinal()" class="btn">Abrir informe final del día</button>
    </div>
    
    <hr>
    <div>
        <div class="reports-container">
            <div id="grafico">
                <app-reporte-grafico-linea [start]="start" [end]="end"></app-reporte-grafico-linea>
            </div>
            <div id="tabla">
                <app-ranking-items></app-ranking-items>
            </div>
        </div>
    </div>
</div>