<div class="col-3">
    <img src="\assets\img\logo.png" alt="" width="250" height="250">
    <div>
    <button type="button" class="btn btn-outline-dark">REPORTES</button>
    <button type="button" class="btn btn-outline-dark">CLIENTES</button>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            INVENTARIO
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">DEPÓSITOS</a></li>
            <li><a class="dropdown-item" href="#">UBICACIONES</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-outline-dark">USUARIOS</button>
        <button type="button" class="btn btn-outline-dark">AYUDA</button>
        <button type="button" class="btn btn-light" style="margin-top: 48vh;">Cerrar Sesión</button>
    </div>
    <!-- <div>
        <button type="button" class="btn btn-outline-dark">VENTA</button>
        <button type="button" class="btn btn-outline-dark">CLIENTES</button>
        <button type="button" class="btn btn-outline-dark">AYUDA</button>
        <button type="button" class="btn btn-light" style="margin-top: 56vh;">Cerrar Sesión</button>
    </div> -->
</div>
