<div id="header">
    <h3>Depositos</h3>
    <app-registrar-deposito></app-registrar-deposito>
</div>
<div id="content">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Capacidad</th>
                <th scope="col">Direccion</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
            </tr>            
        </thead>
        <tbody>
            <tr *ngFor="let dep of depositos">
                <td>{{dep.name}}</td>
                <td>{{dep.capacity}} Articulos</td>
                <td>{{dep.address}}</td>
                <td>{{ !dep.deletionDate ? "Activo" : "Inactivo"}}</td>
                <td>
                    <div id="acciones">
                        <button class="btn btn-primary"><i class="bi bi-pencil-square"></i></button>                
                        <button class="btn btn-primary"><i class="bi bi-info-circle"></i></button>   
                    </div> 
                </td>
            </tr>
        </tbody>
    </table>
</div>